<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>polyglot test</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	
	<header id="header">
		<h1 id="logo">polyglot test</h1>
		<ul id="languages">
		{{#each languages}}
			{{#equals ../lang this}}
			<li class="active">{{this}}</li>
			{{else}}
			<li><a href="/lang/{{this}}">{{this}}</a></li>
			{{/equals}}
		{{/each}}
		</ul>
	</header>
	
	<section id="main">
		<section id="content">
			<h2>{{_ "cookie" }}</h2>
			<p>{{_ "bacon" }} {{_ "and" }} {{_ "tea" }}</p>
			<ul></ul>
			<li>{{_ 3 "%s cup" "%s cups" }}</li>
			<li>{{_ 1 "no cups" "%s cup" "%s cups" }}</li>
			<li>{{_ 0 "no cups" "%s cup" "%s cups" }}</li>
		</section>
	</section>
	
</body>
</html>